.registerPage{
    .uploadImageContainer{
        text-align: center;
        position: relative;
        margin-bottom: 48px;

        .avatarPreview{
            width: 120px;
            height: 120px;
        }

        &::after{
            content: url('../../../public/images/camera.svg');
            width: 48px;
            height: 48px;
            position: absolute;
            right: 0;
            left: 90px;
            bottom: -1px;
            margin: auto;
        }
    }

    @media screen and (min-width: $desktopBreakPoint) {
        .publicPageBaseboard{
            display: flex;
            justify-content: center;
            p {
                margin-right: 7px;
            }
        }
    }

}