@mixin primaryButton {
    background-color: $primaryColor;
    color: $white;
}

@mixin secundaryButton {
    background-color: $white;
    color: $primaryColor;
    border: 1px solid $primaryColor;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &.primary{
        @include primaryButton;

        &:hover{
            @include secundaryButton;
        }
    }

    &.inverted{
        @include secundaryButton;

        &:hover{
            @include primaryButton;
        }
    }

    &:disabled{
        opacity: 0.5;
        cursor: wait;
    }
}