@import '../../public/fonts/fonts.scss';
@import 'variables.scss';

* {
  font-family: $fontRegular;
  font-size: 14px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

@import '../components/Button/button.scss';