@import '../../public/fonts/fonts.scss';
@import 'variables.scss';

* {
  font-family: $fontRegular;
  font-size: 14px;
}

html, body, #__next{
  height: 100%;
  margin: 0;
}

.hidden {
  display: none !important;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

input{
  &::placeholder{
    color: $gray2;
    opacity: 1;
  }

  &:-ms-input-placeholder{
    color: $gray2;
  }

  &::-ms-input-placeholder{
    color: $gray2;
  }
}

strong{
  font-family: $fontBold;
}

.validationMsg{
  display: block;
  color: $red;
  font-size: 80%;
  margin-top: -20px;
  margin-bottom: 10px;
}

.desktop{
  @media screen and (min-width: $desktopBreakPoint){
    display: block;
  }

  @media screen and (max-width: calc($desktopBreakPoint - 1px)){
    display: none;
  }
}

.mobile{
  @media screen and (min-width: $desktopBreakPoint){
    display: none;
  }

  @media screen and (max-width: calc($desktopBreakPoint - 1px)){
    display: block;
  }
}

.navBar{
  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    margin: 10px 0;
    li{
      list-style: none;
      cursor: pointer;
    }
  }
}

body{
  @media screen and (min-width: $desktopBreakPoint) {
    background-color: $gray5;
    background-image: url('../../public/images/backgroundDesktop.svg');
  }
}

.desktopLarge{
  @media screen and (min-width: $desktopBreakPoint){
    width: 40%;
    margin: 0 auto;
  }
}

.dividingBorder{
  margin: 0;
  border: none;
  background-color: $gray1;
  height: 1px;

  @media screen and (min-width: $desktopBreakPoint){
    margin: 0 auto;
    width: 94%;
  }
}

@import '../components/Button/button.scss';
@import '../components/publicInput/publicInput.scss';
@import './publicPage.scss';
@import '../pages/cadastro/cadastro.scss';
@import '../components/layout/header.scss';
@import '../components/layout/footer.scss';
@import '../components/feed/feed.scss';
@import '../components/alternativeHeader/alternativeHeader.scss';
@import '../pages/perfil/profile.scss';
