$fontRegular: 'BiennaleRegular';
$fontBold: 'BiennaleBold';
$fontLight: 'BiennaleLight';

$primaryColor: #5E49FF;
$primaryColor1: #3BD42D;
$primaryColor2: #25CBD3;
$primaryColor3: #F0F5FF;

$white: #FFFFFF;

$gray: #F4F4F4;
$gray1: #DADADA;
$gray2: #7C7786;
$gray3: #4D4C4D;
$gray4: #333333;

$red: #FF0000;

$desktopBreakPoint: 992px;